<mat-sidenav-container class="main-container"> 
  <mat-sidenav #sidebarRef opened mode='side' [(opened)]='isSidebarOpen'>
    <header class="mat-header">Cocolime</header>

    <mat-list>
      <mat-list-item routerLink="/"><mat-icon>dashboard</mat-icon> Dashboard </mat-list-item>
      <mat-list-item (click)="sidebarRef.toggle()"> <mat-icon>add_box</mat-icon>Sample Tab1 </mat-list-item>
      <mat-list-item routerLink="/Sample"><mat-icon>upgrade</mat-icon> Sample Tab 2</mat-list-item>
      <mat-list-item><mat-icon>delete</mat-icon> Delete Data </mat-list-item>

    </mat-list>


  </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar>
          <button class="button" mat-icon-button (click) ="sidebarRef.toggle()"><mat-icon >menu</mat-icon></button><p id="pagename"> Point of Sale </p>
          <div class="spacer"></div>
          <a id="iconmsg" mat-button> <mat-icon>logout</mat-icon>Logout</a>
      </mat-toolbar>
    <div class="content-container">
        <mat-card>
            <!-- Content goes here-->
        </mat-card>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
